.like-container {
  border-top: 1px solid rgb(208, 208, 208);
  display: flex;
  justify-content: space-around;
  margin: 4px 0;
  padding: 8px 0;
}

.like-items {
  display: flex;
  color: rgb(109, 109, 109);
}
.like-items p {
  font-size: 13px;
  margin: 2px 4px;
}
